$wh: #fff;
$whhov: #aaaaaa;
$r: #ad0000;
$mf: "Roboto", sans-serif;

*,
*::after,
*::before {
    box-sizing: border-box;
}
a,
p {
    text-decoration: none;
    color: $wh;
    font-weight: 400;
    font-family: $mf;
    font-size: 17px;
}
h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-family: $mf;
    font-weight: 700;
    font-size: 35px;
}
.container {
    & {
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 30px;
    }
    &-slider {
        max-width: 1920px;
        margin: 0 auto;
        max-height: 450px;
    }
}
body._lock {
    overflow: hidden;
}
.header-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    min-height: 70px;
}
.header {
    & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: $r;
    }
    &-logo {
        font-size: 36px;
        font-family: $mf;
        color: $wh;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        z-index: 4;
    }
}
.menu {
    &-burger {
        display: none;
    }
    &-list > li {
        position: relative;
        margin: 0 0 0 20px;
    }
    &-link {
        color: $wh;
        font-family: $mf;
        font-size: 18px;
        transition: color 0.2s;
    }
    &-link:hover {
        color: $whhov;
    }
}
.gallery {
    .slider-wrapper & {
        max-width: 1920px;
        max-height: 450px;
        background-position: center;
        background-size: cover;
        margin-bottom: 10px;
    }
    & {
        position: relative;
        display: flex;
        background-color: $r;
    }
}
.descr {
    & {
        color: #000;
        font-size: 17px;
    }
    &-slider {
        position: absolute;
        z-index: 1;
        min-width: 350px;
        max-width: 350px;
        text-align: center;
        color: $wh;
        padding-top: 35px;
        top: 10em;
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    &-text-main a {
        font-size: 24px;
        max-width: 360px;
        line-height: 1.2em;
    }
    &-text-main {
        font-size: 24px;
        max-width: 360px;
        line-height: 1.2em;
    }
    &-text {
        margin-right: 15%;
    }
    &-img img {
        width: 100%;
        height: 100%;
        margin: 10px;
        border-radius: 2%;
        border: 2px $r solid;
    }
    &-pages {
        font-size: 24px;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: 15px;
    }
}
.title {
    &-article {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    &-slider {
        top: 4em;
        z-index: 1;
        position: absolute;
        color: $wh;
        border-bottom: 4px solid $r;
        padding-bottom: 5px;
    }
    &-map {
        font-size: 19px;
    }
    &-products {
        font-size: 25px;
        margin-bottom: 15px;
    }
}
.products {
    &-list-block {
        display: flex;
        flex-flow: wrap;
    }
    &-item {
        border: 2px solid #313131;
        display: flex;
        padding: 25px 65px 10px 14px;
        transition: box-shadow 0.5s;
        margin-right: 30px;
        max-width: 300px;
    }
    &-img {
        padding-right: 15px;
    }
    &-btn {
        padding: 8px 35px;
        background-color: $r;
        border: none;
        color: #fff;
        font-weight: 500;
        transition: background-color 0.3s;
    }
    &-btn:hover {
        background-color: #fff;
        border: 2px solid $r;
        padding: 6px 33px;
        color: #000;
    }
    &-item:hover {
        -webkit-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 29px 9px rgba(0, 0, 0, 0.2);
    }
}
#map {
    width: 100%;
    height: 600px;
}
.map {
    margin-bottom: 100px;
}
.gm-style img {
    max-width: 100%;
}
.block-slider {
    display: flex;
    justify-content: center;
    text-align: center;
}
.slider {
    & .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .slick-dots li {
        list-style: none;
        margin: 0 10px;
    }
    & .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: #ad0000;
        border: 0;
        border-radius: 50%;
        outline: none;
    }
    & .slick-dots li.slick-active button {
        background-color: $wh;
        border: 2px solid $r;
        width: 16px;
        height: 16px;
        transition: background-color 0.2s;
    }
    & {
        margin: 70px 0 25px 0;
    }
}
.btns {
    & a {
        position: absolute;
        z-index: 1;
        font-size: 24px;
        font-weight: 500;
        margin-left: -2em;
        top: 11.5em;
        background-color: $r;
        padding: 12px 25px;
        transition: background-color 0.3s;
    }
    & a:hover {
        background-color: #8a0000;
    }
}
.strong-text {
    font-weight: 500;
    font-size: 23px;
    color: $r;
    text-decoration: underline 3px;
}
.link {
    & {
        color: #0059ff;
        text-decoration: underline;
        transition: color 0.2s;
    }
    &:hover {
        color: #002f86;
    }
    &-contacts {
        color: #000;
        border-bottom: 3px solid $r;
        padding-bottom: 5px;
    }
}

.footer {
    & {
        min-height: 250px;
        background-color: $r;
        border-top: 3px rgb(218, 218, 218) solid;
        margin-top: auto;
    }
    &-logo {
        padding-top: 15px;
        text-align: center;
    }
    &-logo a {
        font-size: 32px;
        font-weight: 900;
    }
    &-logo p {
        padding-top: 15px;
    }
    &-wrapper {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }
    &-list {
        list-style: none;
    }
    &-list li a:hover {
        text-decoration: underline;
        color: $whhov;
    }
    &-list a {
        font-size: 24px;
    }
    &-list li + li {
        margin-top: 8px;
    }
    &-info {
        margin: 12px 10px 0 0;
    }
}
.page {
    &-wrapper {
        margin-top: 10em;
    }
    & {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
.contacts {
    &-block {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    &-item {
        margin-right: 35px;
    }
    &-item:last-child {
        margin-right: 0;
    }
}
@media (max-width: 1010px) {
    .descr {
        &-block {
            align-items: center;
            flex-wrap: unset;
            flex-flow: column;
        }
        &-text-main {
            text-align: center;
        }
    }
}
@media (min-width: 950px) {
    .menu {
        &-list {
            display: flex;
            align-items: center;
        }
        &-list > li {
            padding: 10px 0;
        }
    }
}
@media (max-width: 950px) {
    .header {
        &-logo {
            font-size: 30px;
        }
    }
    .descr {
        &-text {
            margin-right: 0;
        }
    }
    .menu {
        &-burger {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
        }
        &-burger span,
        &-burger::before,
        &-burger::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }
        &-burger::before,
        &-burger::after {
            content: "";
        }
        &-burger::before {
            top: 0;
        }
        &-burger::after {
            bottom: 0;
        }
        &-burger span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
        &-burger.header-active span {
            transform: scale(0) translate(0, -50%);
        }
        &-burger.header-active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }
        &-burger.header-active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0, 50%);
        }
        &-body {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            padding: 100px 30px 30px 30px;
            transition: all 0.3s ease 0s;
        }
        &-body.header-active {
            left: 0;
        }
        &-body::before {
            content: "";
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            background-color: $r;
            z-index: 2;
        }
        &-list > li {
            margin: 0 0 30px 0;
        }
        &-list > li:last-child {
            margin-bottom: 0;
        }
        &-link {
            font-size: 24px;
        }
    }
    .footer {
        &-wrapper {
            flex-flow: nowrap;
            justify-content: center;
            flex-flow: column;
            align-items: center;
        }
        &-logo {
            margin-bottom: 35px;
        }
        & {
            min-height: 350px;
        }
    }
}
// @media (max-width: 600px) {
//     .gm-style img {
//         max-width: 250px;
//     }
// }
